*{
  box-sizing: border-box;
}
body{
  margin:0 auto;
  padding:0;
  width:1230px;
  height:600px;
  background:#000;
}
/*text display css*/
.text-animation{
   color: #111;
   font-size:26px;
   font-weight:800;
   font-family:serif;
   letter-spacing: -7px;
}
.text-container > span ,.text-container1 > span{
  text-transform: uppercase;
  animation: glow 1.95s ease-in-out infinite;
}
.text-container {
  margin-top:325px;
  margin-left:430px;
}
.text-container1{
  margin-top:-41px;
  margin-left:798px;
}
@keyframes glow {
  0%, 100% {
    color: #FFF;
    text-shadow: 0 0 10px #0652DD, 0 0 50px #0652DD, 0 0 100px #0652DD;
  }

  10%, 90% {
    color: #111;
    text-shadow: none;
  }
}
.text-container > span:nth-child(1) {
	animation-delay: 0.01s;
}

.text-container > span:nth-child(2) {
	animation-delay: 0.25s;
}

.text-container > span:nth-child(3) {
	animation-delay: 0.5s;
}

.text-container > span:nth-child(4) {
	animation-delay: 0.75s;
}

.text-container > span:nth-child(5) {
	animation-delay: 1s;
}

.text-container > span:nth-child(6) {
	animation-delay: 1.25s;
}

.text-container > span:nth-child(7) {
	animation-delay: 1.5s;
}
.text-container > span:nth-child(8) {
	animation-delay: 1.75s;
}
.text-container1 > span:nth-child(1) {
	animation-delay: 0.01s;
}

.text-container1 > span:nth-child(2) {
	animation-delay: 0.25s;
}

.text-container1 > span:nth-child(3) {
	animation-delay: 0.5s;
}

.text-container1 > span:nth-child(4) {
	animation-delay: 0.75s;
}

.text-container1 > span:nth-child(5) {
	animation-delay: 1s;
}

.text-container1 > span:nth-child(6) {
	animation-delay: 1.25s;
}

.text-container1 > span:nth-child(7) {
	animation-delay: 1.5s;
}
.text-container1 > span:nth-child(8) {
	animation-delay: 1.75s;
}
/**/
header a{
  color:#fff;
  padding-top:10px;
  margin-left:150px;
}
#woman{
  height:208px;
  width:auto;
  position:relative;
  top:-183px;
  left:62%;
}
#man{
  height:234px;
  width:auto;
  position:absolute;
  top:176px;
  left:33%;
}

/*digital clock css*/
.time {
  position:absolute;
  top:5px;
  left:45%;
  background: #222;
  color: #fff;
  padding: 8px;
  width: 138px;
  height: auto;
}
.hms {
    font-size: 22pt;
    font-weight: 200;
}
.ampm {
    font-size: 11pt;
}
.date {
    font-size: 9pt;
}

/*apple watch display css*/
#face{
  transform: scale(0.18);
  position:absolute;
  top:445px;
  left:45.9%;

}
.watch-face {
  height: 125px;
  width: 125px;
  animation: pulse 4s cubic-bezier(0.5, 0, 0.5, 1) alternate infinite;
}

.circle {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  position: absolute;
  mix-blend-mode: screen;
  transform: translate(0, 0);
  animation: center 6s infinite;
  z-inde:-1;
}

.circle:nth-child(odd) {
  background: #61bea2;
}

.circle:nth-child(even) {
  background: #529ca0;
}

.circle:nth-child(1) {
  animation: circle-1 4s ease alternate infinite;
}

.circle:nth-child(2) {
  animation: circle-2 4s ease alternate infinite;
}

.circle:nth-child(3) {
  animation: circle-3 4s ease alternate infinite;
}

.circle:nth-child(4) {
  animation: circle-4 4s ease alternate infinite;
}

.circle:nth-child(5) {
  animation: circle-5 4s ease alternate infinite;
}

.circle:nth-child(6) {
  animation: circle-6 4s ease alternate infinite;
}

@keyframes pulse {
  0% {
    transform: scale(.15) rotate(180deg);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes circle-1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-35px, -50px);
  }
}

@keyframes circle-2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(35px, 50px);
  }
}

@keyframes circle-3 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-60px, 0);
  }
}

@keyframes circle-4 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(60px, 0);
  }
}

@keyframes circle-5 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-35px, 50px);
  }
}

@keyframes circle-6 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(35px, -50px);
  }
}

/*watch css*/
 #apple-watch{
  height:120px;
  width:auto;
  position:absolute;
  top:450px;
  left:48%;
  z-index:-3;
}
/*歩数計　css*/
.container {
  margin-top:-90px;
  margin-left:600px;

}

.show {
  transition: all 0.001s linear;
  color: #fff;
  font-size: 23px;
  z-index:2;
}

/*responsive*/


@media(max-width:670px){
  .time{
 transform:scale(0.5);
 left:33%;
  }
#woman{
  transform:scale(0.555);
  top:-144px;
  left:15%;
}
#man{
  transform:scale(0.54);
  top:126px;
  left:3%;
}
#face{
  transform: scale(0.10);
  top:350px;
  left:33.8%
}

#apple-watch{
  transform:scale(0.73);
  top:354px;
  left:42%;
}
.container {
  margin-top:-77px;
  margin-left:168px;

}
.show {
  font-size: 16px;
}
.text-animation {
  transform:scale(0.65);
}

.text-container {
  margin-top:220px;
  margin-left:-239px;
}
.text-container1{
  margin-top:-33px;
  margin-left:8px;
}

}
